<div class="dx-viewport demo-container">
  <div class="row">
    <p>DropDownBox with search and embedded TreeList</p>
    <app-drop-down-list
      [selectedRowKey]="22"
      [dataSource]="dataSource"
      [dropDownBoxDataSource]="dropDownBoxDataSource"
      [searchTimeout]="searchTimeout"
      [displayExpr]="displayExpr"
      [searchExprValue]="searchExprValue"
    ></app-drop-down-list>
  </div>

  <div class="options">
    <div class="caption">Search Options</div>
    <div class="option">
      <div>Search Expression</div>
      <dx-select-box
        [items]="searchExprItems"
        displayExpr="name"
        valueExpr="value"
        [(value)]="searchExprValue"
      ></dx-select-box>
    </div>
    <div class="option">
      <div>Search Timeout</div>
      <dx-number-box
        [min]="0"
        [max]="10000"
        [(value)]="searchTimeout"
        [showSpinButtons]="true"
        [step]="100"
      ></dx-number-box>
    </div>
  </div>
</div>
